<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>uitest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>testservlet</servlet-name>
    <servlet-class>test.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testservlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>signservlet</servlet-name>
    <servlet-class>test.SignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signservlet</servlet-name>
    <url-pattern>/sign</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>fileuploadservlet</servlet-name>
    <servlet-class>test.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileuploadservlet</servlet-name>
    <url-pattern>/fileupload</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UploadProgressServlet</servlet-name>
    <servlet-class>test.UploadProgressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadProgressServlet</servlet-name>
    <url-pattern>/uploadprogress</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>newsListServlet</servlet-name>
    <servlet-class>test.NewsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsListServlet</servlet-name>
    <url-pattern>/newslist</url-pattern>
  </servlet-mapping>
 
</web-app>