<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>AJAX Content</title>
</head>
<body>
	<p style="font-size:14px">在这里我们将重温红客含义，作为红客，我们要求会员铭记以下几点：</p>
	<ul>
		<li>1、我们的攻防技术不是用来炫耀的，这不是红客的作法！ </li>
		<li>2、我们的技术会向所有爱国的红客朋友们共享！ </li>
		<li>3、我们会不断地学习，并不断地研究新的攻击技术与防护方法！</li>
		<li>4、我们不但要懂得系统的常用漏洞的攻防之道，而且还要懂得如何去挖掘系统的漏洞！ </li>
		<li>5、我们必须懂得如何去打破常规的思维方式！“没有什么不可能，只要我们想得到，我们就能够做得到！没有我们进不去“房间”，只要“房间”内能够进得去空气，我们可以变成“空气”进入房间！ </li>
		<li>6、我们必须懂得如何去做人！——学技术先学做人！</li>
	</ul>
</body>
</html>